@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Regular.ttf);
}

html {
    scroll-behavior: smooth;
}

:root {
    --primary: #FB8122;
    --light: #EEEEEE;
    --dark: #212121;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato;
}

/* nav bar */
.nav-container {
    max-width: 1280px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: var(--dark);
    padding: 16px 32px;
    border-bottom: 3px solid var(--primary);
}

.nav-header {
    color: #FFF;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* hamburger */
.hamburger {
    display: block;
    position: relative;
    z-index: 1;

    user-select: none;

    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background-color: var(--light);
    border-radius: 6px;
    z-index: 1;

    transform-origin: 0 0;

    transition: 0.5s;
}

.hamburger:hover span:nth-child(2) {
    transform: translateX(10px);
    background-color: var(--primary);
}

.hamburger.active span:nth-child(1) {
    transform: translate(0px, -2px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
    transform: translateX(15px);
}

.hamburger.active span:nth-child(3) {
    transform: translate(-3px, 3px) rotate(-45deg);
}

.hamburger.active:hover span {
    background-color: var(--primary);
}

.menu {
    display: none;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 0 16px;
}

.menu a {
    color: #FFF;
    margin: 0 16px;
    text-decoration: none;
    transition: 0.5s;
    padding: 8px 16px;
    border-radius: 99px;
}

.menu a.active,
.menu a:hover {
    background: var(--primary);
    transition: 0.5s;
}

/* mobile nav bar */
/* nav bar hidden when not on mobile */
.mobile-nav {
    display: block;
    position: fixed;
    top: 0;
    left: 100%; 
    width: 100%;
    min-height: 100vh;
    z-index: 98;
    padding-top: 120px;
    transition: 0.5s;
}

/* shift nav page out when hamburger on mobile is clicked */
.mobile-nav.active {
    left: 0;
}

.mobile-nav a {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
    background-color: grey;
    border-radius: 90px;

    text-decoration: none;
    color: #FFF;
}

@media screen and (max-width: 541px) {
    .mobile-nav a {
        max-width: 300px;
    }
}

.mobile-nav a:hover {
    background-color: var(--primary);
    transition: all 0.7s;
}

.mobile-nav a.active {
    background: var(--primary);
}

/* RWD for nav bar and hamburger */
@media screen and (min-width: 720px) {
    .hamburger {
        display: none;
    }

    .menu {
        display: flex;
    }

    .mobile-nav {
        display: none;
    }
}

body {
    font-size: 18px;
}

/* main content */
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 200px;
}

.header-text {
    font-size: 5vw;
    color: black;
    margin-bottom: 50px;
}

.bookmark-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    animation: MoveUpDown 1.5s linear infinite;
    bottom: 0;
}

@keyframes MoveUpDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

.bookmark {
    width: 20%;
    height: 20%;
    margin-left: 13%;
    margin-bottom: 10vw;
}

/* for types, components and benefits, home uses diff values */
.header-container {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 75px;
}

@media screen and (max-width: 721px) {
    .container {
        margin-left: 0;
        margin-right: 0;
        margin-top: 50px;
    }
}

@media screen and (max-width: 541px) {
    .container {
        margin-left: 0;
        margin-right: 0;
        margin-top: 50px;
    }

    .header-text {
        font-size: 35px;
    }
}

/* for reveal elements on scroll */
/* when elements not in view yet, they are 150px down Y
when scroll down far enough, fade in elements and move back
to default pos */
.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}